<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :building %>
    <%= form.number_field :building, id: :location_building %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.number_field :floor, id: :location_floor %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.number_field :room, id: :location_room %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
