<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  
  <body>
      <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
          <% if logged_in? %>
          <%= link_to "COURSE" ,course_course_detail_path,class:"navbar-left btn btn-info" %>
          <% else %>
          <%= link_to "COURSE" ,course_home_url,class:"navbar-left btn btn-info" %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-record"></span>Category<span class="caret"></span></button>
                 <ul class="dropdown-menu">
                    <% @categories.each do |category| %>
                    <li><a><%= link_to category.name ,course_course_detail_path(:category_id => category.id) %></a></li>
                    <% end %>
                    <% if logged_in? %>
                    <li class="divider"></li>
                    <li><a><%= link_to 'create category' ,createcategory_path %></a></li>
                    <% end %>
                 </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
                 <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"></span>Location<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <% @locations.each do |location| %>
                    <li><a><%= link_to location.name ,course_course_detail_path(:location_id => location.id) %></a></li>
                    <% end %>
                    <% if logged_in? %>
                    <li class="divider"></li>
                    <li><a><%= link_to 'create location' ,createlocation_path %></a></li>
                    <% end %>
                   </ul>
            </div>
          </li>
          <% if logged_in? %>
          <li>
            <div class="dropdown">
            <%= link_to "NEW COURSE" ,createcourse_path,class:"btn btn-info" %>
            </div>
          </li>
          <% end %>
          <li>
            <div class="dropdown">
          <% if logged_in? %>
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
              Account <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a><%= link_to "Profile", current_user %></a></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <a><%= link_to "Log out", logout_path, method: :delete %></a>
              </li>
            </ul>
        <% else %>
            
           <%= link_to "<span class = 'glyphicon glyphicon-user'></span>Log in".html_safe, login_path ,class:"navbar-right btn btn-info"%>
        <% end %>
        </div>
           </li>
          </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
  
  <%= render 'layouts/footer' %>
  
</html>
